body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 15px;
}
.original, .box {
  border-radius: 6px;
}
.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box {
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;

  transform:scale(0.8);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.box-1:hover {
  transform: rotate(20deg) scale(1.0);
  transition-duration: 2s;
  transition-timing-function: ease;
}
.box-2:hover {
  transform: rotate(-55deg) scale(1.0);
  transition-duration: 2s;
  transition-timing-function: ease;
}
