body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 15px;
}
.original,
.box {
  border-radius: 6px;
}
.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box {
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;

  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: linear;
}
.box-1 {
  transform: rotate(20deg);
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: linear;
}
.box-2 {
  transform: rotate(-55deg);
}
